# VSCode
.vscode

# Ols
ols.json
odinfmt.json

# Windows specific files
*.exe
*.pdb
*.rdbg
*.rdi
*.dll

# Linux specific exe files
*.bin

# Build
build/

# Binaries (executables without extension)
# This ignores compiled binaries in examples/ and root
examples/*/*
!examples/*/*.odin
!examples/*/data/

# Main binary
sgui
